WORDOGUESSR_TZ=Asia/Yekaterinburg

USER_SECRETS_PATH=/absolute/path/to/user-secrets

DATA_PROTECTION_KEY_PATH=/absolute/path/to/dataprotection-dev.pfx
DATA_PROTECTION_KEY_PASSWORD=changeme

TLS_CERT_PATH=/absolute/path/to/wordoguessr.localhost.crt
TLS_KEY_PATH=/absolute/path/to/wordoguessr.localhost.key

MINIO_INIT_PATH=/absolute/path/to/minio-seed

CLOUDPUB_TOKEN=